body {
    font-family: "Comfortaa", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "width" 100;
    overflow-x: hidden;
    position: relative;
    z-index: 0;
    margin: 0;
}

#menu {
    background-color: #2f4156;
    display: flex;
    width: 100%;
}

#capa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
}

.container-capa {
    padding: 50px;
    gap: 30px;
    background-image: url("imagens/plano-de-fundo.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imagem-caixa {
    width: 50%;
}

.ilustracao-caixa {
    width: 50%;
    position: relative;
    margin: auto;
    padding: 40px;
    max-width: 50%;
}


.texto-sobre h2 {
    font-family: "Modak", Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-transform: lowercase;
    font-weight: normal;
}

.texto-sobre p {
    font-size: 16px;
    line-height: 1.8;
}

.sobre {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 60px 5%;
    background-color: #f5efeb;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.imagem-sobre {
    position: absolute;
    left: -160px;
    top: -150px;
    height: 1200px;
    width: auto;
    z-index: 0;
}

.imagem-sobre img {
    height: 100%;  
    width: auto;
    object-fit: contain;
    display: block;
        overflow: hidden;
}

.texto-sobre {
    max-width: 600px;
    width: 100%;
    background-color: #2f4156;
    color: white;
    padding: 70px 30px;
    padding-right: 30px;
    padding-left: 15px;
    border-radius: 50px;
    text-align: right;
    box-sizing: border-box;
}

.texto-sobre h2 {
    margin-top: 0;
    font-family: "Modak" Arial, Helvetica, sans-serif;
    font-size: 48px;
    line-height: 1.1;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.texto-sobre p {
    font-size: 18px;
    line-height: 1.8;
}

.desenho-fundo {
    position: absolute;
    pointer-events: none;
}

.logo { 
    font-size: 24px;
}

.navegacao ul {
    list-style: none;
    display: flex;
    color: white;
}

.navegacao ul li {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
}

.navegacao ul li a {
    color: #fff;
    text-decoration: none;
}

.sobre-imagem {
    position: relative;
    top: -20px;
    width: 100%;
    height: auto;
    pointer-events: none;
}


.sobre-nome {
    color: rgb(255, 255, 255);
    font-size: 36px;
    margin-top: 20px;
    z-index: 1;
}

.sobre-titulo {
    color: #C5C0C0;
    font-size: 24px;
    margin-top: 10px;
    z-index: 1;
}

.sobre-descricao {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
    z-index: 1;
    max-width: 600px;
}

#formacao {
    padding: 50px 150px;
}

.formacao-titulo {
    color: #2f4156;
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: 1px;
    text-align: center;
    text-transform: lowercase;
    margin-top: 80px;
}

.formacao-item {
    flex: 1;
    min-width: 250px;
}

.formacao-lista {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px auto 0;
    padding: 0 30px;
    text-align: center;
}

.formacao-lista h3 {
    font-size: 20px;
    color: #828282;
    margin-bottom: 10px;
    text-align: center;
}

.formacao-lista a {
    color: #2f80ed;
    color: #2f80ed;
    font-size: 20px;
    margin-bottom: 15px;
    display: inline-block;
    text-align: center;
}

.formacao-lista p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
}

h1 {
    color: white;
    font-size: 36px;
}

h2 {
    color: rgb(255, 255, 255);
}

p {
    font-weight: 200;
    line-height: 30px;
}

#experiencias {
    background-color: #edeaea;
    padding: 50px 150px;
}

.experiencia-titulo {
    color: rgb(18, 127, 223);
    font-size: 30px;
    margin-bottom: 30px;
}

.experiencia-lista {
    width: 600px;
    margin: 0 auto;
}

.experiencia-lista h3 {
    font-size: 20px;
    color: #828282;
    margin-bottom: 10px;
    width: 180px;
}

.experiencia-lista a {
    color: #2f4156;
    font-size: 20px;
    margin-bottom: 15px;
}

.experiencia-lista p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
}

#contato {
    padding: 50px 150px;
}

.contato-titulo {
    color: #2f4156;
    font-size: 30px;
    margin-bottom: 30px;
}

.contato-formulario {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 0 auto;
}

.contato-grupoinput {
    display: flex;
    justify-content: space-between;
}

.contato-input {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 20px;
}

.contato-input input,
.contato-input textarea {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contato-input label {
    font-size: 18px;
    margin-bottom: 10px;
}

.btn-enviar {
    background-color: #2f4156;
    padding: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.rodape {
    background-color: #2f4156;
    display: flex;
    padding: 30px 40px;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}

.rodape-contatos img {
    vertical-align: middle;
    height: 30px;
}

.rodape-contatos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rodape-contatos a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.logo-minas {
    height: 80px;
}
