* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

#menu {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 162, 21);
    padding: 25px;
}

.logo { 
    font-size: 24px;
}

.navegacao ul {
    list-style: none;
    display: flex;
    color: rgb(255, 251, 251);
}

.navegacao ul li {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
}

#sobre {
    text-align: center;
    background-color: #edeaea;
    padding: 60px 20px;
}

.sobre-imagem {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.sobre-nome {
    color: rgb(18, 127, 223);
    font-size: 36px;
    margin-top: 20px;
}

.sobre-titulo {
    color: #C5C0C0;
    font-size: 24px;
    margin-top: 10px;
}

.sobre-descricao {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
}

#formacao {
    padding: 50px 150px;
}

.formacao-titulo {
    color: rgb(18, 127, 223);
    font-size: 30px;
    margin-bottom: 30px;
}

.formacao-lista {
    width: 600px;
    margin: 0 auto;
}

.formacao-lista h3 {
    font-size: 20px;
    color: #828282;
    margin-bottom: 10px;
    width: 120px;
}

.formacao-lista a {
    color: #2f80ed;
    font-size: 20px;
    margin-bottom: 15px;
}

.formacao-lista p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
}

h1 {
    color: rgb(255, 251, 251);
    font-size: 36px;
}

h2 {
    color: rgb(18, 127, 223);
}

p {
    font-weight: 200;
    line-height: 30px;
}

#experiencias {
    background-color: #edeaea;
    padding: 50px 150px;
}

.experiencia-titulo {
    color: rgb(18, 127, 223);
    font-size: 30px;
    margin-bottom: 30px;
}

.experiencia-lista {
    width: 600px;
    margin: 0 auto;
}

.experiencia-lista h3 {
    font-size: 20px;
    color: #828282;
    margin-bottom: 10px;
    width: 180px;
}

.experiencia-lista a {
    color: #2f80ed;
    font-size: 20px;
    margin-bottom: 15px;
}

.experiencia-lista p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
}

#contato {
    padding: 50px 150px;
}

.contato-titulo {
    color: rgb(18, 127, 223);
    font-size: 30px;
    margin-bottom: 30px;
}

.contato-formulario {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 0 auto;
}

.contato-grupoinput {
    display: flex;
    justify-content: space-between;
}

.contato-input {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.contato-input input {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
}

.contato-input textarea {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
}